* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

header {
  background: #D9453A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px; }
  header .logo {
    width: 142px;
    height: 25px;
    display: inline-block;
    margin-left: 10px; }
  header .download-APP {
    text-decoration: none;
    width: 80.02px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-right: 10px; }

nav ul {
  display: flex;
  justify-content: space-around; }
  nav ul li {
    line-height: 40px;
    display: inline-block;
    width: 4em;
    text-align: center; }
  nav ul li.active {
    color: #D9453A;
    border-bottom: 2px solid #D9453A; }

.recommended-playlist .title {
  font-size: 17px;
  padding-left: 9px;
  border-left: 1px solid #D9453A;
  margin: 20px 0 14px 0; }
.recommended-playlist ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .recommended-playlist ul li {
    width: 32.3vw;
    min-height: 41.9vw;
    display: inline-block;
    padding-bottom: 16px; }
    .recommended-playlist ul li a {
      display: inline-block;
      height: 32.3vw;
      width: 100%; }
    .recommended-playlist ul li p {
      display: inline-block;
      font-size: 13px;
      margin: 0; }
  .recommended-playlist ul li:nth-child(1) a {
    background: url("../img/recommoned/track_radio_199_13_1.jpg");
    background-size: cover; }
  .recommended-playlist ul li:nth-child(2) a {
    background: url("../img/recommoned/109951163004167876.jpeg"); }
  .recommended-playlist ul li:nth-child(3) a {
    background: url("../img/recommoned/1424967077460786.jpeg"); }
  .recommended-playlist ul li:nth-child(4) a {
    background: url("../img/recommoned/18634523069554746.jpeg");
    background-size: cover; }
  .recommended-playlist ul li:nth-child(5) a {
    background: url("../img/recommoned/19066631137462753.jpeg");
    background-size: cover; }
  .recommended-playlist ul li:nth-child(6) a {
    background: url("../img/recommoned/300 (1).jpeg");
    background-size: cover; }

.latest-music .title {
  font-size: 17px;
  padding-left: 9px;
  border-left: 1px solid #D9453A; }
.latest-music a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 55px;
  margin: 0 10px;
  border-bottom: 1px solid #ddd; }
  .latest-music a .container {
    display: inline-block; }
    .latest-music a .container h3 {
      font-size: 17px;
      text-decoration: none;
      margin: 0; }
    .latest-music a .container svg {
      width: 12px;
      height: 8px; }
      .latest-music a .container svg #icon-sq {
        width: 12px;
        height: 8px;
        fill: red; }
    .latest-music a .container p {
      font-size: 12px;
      text-decoration: none;
      margin: 0;
      display: inline-block;
      color: gray; }
  .latest-music a .play-icon {
    margin-right: 10px; }
    .latest-music a .play-icon i {
      display: inline-block;
      width: 22px;
      color: #aaa; }

footer {
  background: url("../img/recommand_bg_2x.png");
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap; }
  footer .logo {
    padding-top: 16.9%;
    display: flex;
    justify-content: center; }
    footer .logo .logo-svg {
      width: 230px;
      height: 44px;
      display: inline-block; }
  footer a {
    width: 300px;
    height: 38px;
    border-radius: 38px;
    border: 1px solid #D9453A;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 38px;
    display: inline-block; }
  footer .copyright {
    font-size: 12px;
    text-align: center;
    transform: scale(0.75);
    display: inline-block;
    padding-bottom: 10px; }

#icon-sq {
  color: red;
  fill: red; }

/*# sourceMappingURL=index.css.map */
